<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Feedback</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/bootstrap-icons.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/templatemo-topic-listing.css')}}" rel="stylesheet">
    <!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
</head>

<body id="top">
    <style>
        /* CSS to resize the logo */
        .logo {
            height: 60px;
            /* Adjust this value to shorten the logo */
            width: auto;
        }
    </style>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <image src="{{ url_for('static', filename = 'images/image-removebg-preview (2).png')}}" alt="Logo"
                        class="logo"></image>
                </a>


                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 160px;">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/course">Courses</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/job">Jobs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/details">Academic Details</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact"><strong>Contact</strong></a>
                        </li>

                    </ul>

                    <div class="d-none d-lg-block">
                        <div class="dropdown">
                            <a href="#" class="navbar-icon bi-person smoothscroll" style="color: black;" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                                <li><a class="dropdown-item" href="/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-12" style="width: 1404px;">
                        <h2 class="text-white" style="text-align-last: center;">Get In Touch</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="section-padding section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h3 class="mb-6 pb-2" style="align-items: center;">We'd love to hear from you</h3>
                        <div class="col-lg-6 col-10">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class="flashes">
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                            <form action="/submit_contact" method="post" class="custom-form contact-form" role="form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="name" id="name" class="form-control"
                                                placeholder="name" value="{{ name }}" required="">
                                            <label for="floatingInput">name</label>
                                        </div>
                                    </div>
                            
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                                class="form-control" placeholder="email" value="{{ email }}" required="">
                                            <label for="floatingInput">email</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="subject" id="subject" class="form-control"
                                                placeholder="subject" required="">
                                            <label for="floatingInput">subject</label>
                                        </div>
                            
                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message"
                                                placeholder="message" required></textarea>
                                            <label for="floatingTextarea">message</label>
                                        </div>
                                    </div>
                            
                                    <div class="col-lg-4 col-12 ms-auto">
                                        <button type="submit" class="form-control">Submit</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-section section-padding section-bg" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-5">Get in touch</h2>
                    </div>

                    <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                        <iframe class="google-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.586046046185!2d73.50730709999999!3d18.4116818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc29f3cf04ba56f%3A0xf7d9bdab2c80763c!2sCHRIST%20(Deemed%20to%20be%20University)%2C%20Pune%20Lavasa%20Campus%20-%20&#39;The%20Hub%20of%20Analytics&#39;!5e0!3m2!1sen!2sin!4v1724130134801!5m2!1sen!2sin"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                        <h4 class="mb-3">Head office</h4>

                        <p>30, Valor Ct, Lavasa, Maharashtra 412112</p>

                        <hr>

                        <p class="d-flex align-items-center mb-1">
                            <span class="me-2">Phone</span>

                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="d-flex align-items-center">
                            <span class="me-2">Email</span>

                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mx-auto">
                        <h4 class="mb-3">Germany office</h4>

                        <p>Taunustor 1, 60310 Frankfurt am Main, Germany</p>

                        <hr>

                        <p class="d-flex align-items-center mb-1">
                            <span class="me-2">Phone</span>

                            <a href="tel: 110-220-3400" class="site-footer-link">
                                110-220-3400
                            </a>
                        </p>

                        <p class="d-flex align-items-center">
                            <span class="me-2">Email</span>

                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding"
                style="border-bottom-width: 0px; padding-top: 50px; padding-bottom: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-12 mb-4 pb-2">
                            <a class="navbar-brand" href="/">
                                <image src="{{ url_for('static', filename = 'images/image-removebg-preview (2).png')}}"
                                    alt="Logo" class="logo"></image>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <h6 class="site-footer-title mb-3">Resources</h6>

                            <ul class="site-footer-links">
                                <li class="site-footer-link-item">
                                    <a href='/index' class="site-footer-link">Home</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/course" class="site-footer-link">Courses</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/job" class="site-footer-link">Jobs</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/details" class="site-footer-link">Academic Details</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/contact" class="site-footer-link">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                            <h6 class="site-footer-title mb-3">Information</h6>

                            <p class="text-white d-flex mb-1">
                                <a href="tel: 305-240-9671" class="site-footer-link">
                                    305-240-9671
                                </a>
                            </p>

                            <p class="text-white d-flex">
                                <a href="mailto:info@company.com" class="site-footer-link">
                                    career@company.com
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                            <h6 class="site-footer-title mb-3">Copyrights</h6>
                            <p class="copy">Copyright © 2048 Career.<br>All rights reserved </p>

                        </div>
                    </div>
                </div>
        </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.sticky.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/click-scroll.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.js')}}"></script>

</body>


</html>
<style>
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li.success {
    color: green;
}

.flashes li.error {
    color: red;
}
</style>