<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Career</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/bootstrap-icons.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/templatemo-topic-listing.css')}}" rel="stylesheet">
</head>

<body id="top">
    <style>
        /* CSS to resize the logo */
        .logo {
            height: 60px;
            width: auto;
        }

        .browse-button {
            padding: 0;
            margin: 0;
            border: none;
            background: none;
            cursor: pointer;
        }

        .browse-button {
            --primary-color: #000;
            --hovered-color: #000;
            position: relative;
            display: flex;
            font-weight: 600;
            font-size: 20px;
            gap: 0.5rem;
            align-items: center;
        }

        .browse-button p {
            margin: 0;
            position: relative;
            font-size: 20px;
            color: var(--primary-color);
        }



        .browse-button p::before {
            position: absolute;
            /*   box-sizing: border-box; */
            width: 0%;
            inset: 0;
            color: var(--hovered-color);
            overflow: hidden;
            transition: 0.3s ease-out;
        }


        .browse-button:hover p::before {
            width: 100%;
        }

       

        .browse-button svg {
            color: var(--primary-color);
            transition: 0.2s;
            position: relative;
            width: 15px;
            transition-delay: 0.2s;
        }
    </style>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <image src="{{ url_for('static', filename = 'images/image-removebg-preview (2).png')}}" alt="Logo"
                        class="logo"></image>
                </a>


                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 160px;">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/index"><strong>Home</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/course">Courses</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/job">Jobs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/details">Academic Details</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>

                    </ul>

                    <div class="d-none d-lg-block">
                        <div class="dropdown">
                            <a href="#" class="navbar-icon bi-person smoothscroll" style="color: black;" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                                <li><a class="dropdown-item" href="/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h1 class="text-white text-center">Analyse. Discover. Succeed</h1>

                        <h6 class="text-white text-center">platform for job opportunities</h6>
                    </div>

                </div>
            </div>
        </section>


        <section class="featured-section">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                            <div class="d-flex">
                                <div>
                                    <h5 class="mb-2">Rise and grind</h5>

                                    <p class="mb-0">Believe in yourself. Every step forward counts. Stay focused,
                                        stay strong, and keep pushing—you're closer than you think.</p>
                                </div>
                            </div>

                            <img src="{{ url_for('static', filename = 'images/sapiens.png')}}"
                                class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block bg-white shadow-lg">
                            <div class="d-flex">
                                <div>
                                    <h5 class="mb-2">Make it happen</h5>

                                    <p class="mb-0">Stay determined and keep moving forward. Every challenge you
                                        overcome brings you closer to achieving your goals</p>
                                </div>
                            </div>

                            <img src="{{ url_for('static', filename = 'images/person-leading-a-team.png')}}"
                                class="block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="explore-section section-padding" id="section_2">
            <div class="container">

                <div class="col-12 text-center">
                    <h2 class="mb-4">Courses To Enhance</h1>
                </div>

            </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="design-tab" data-bs-toggle="tab"
                                data-bs-target="#design-tab-pane" type="button" role="tab"
                                aria-controls="design-tab-pane" aria-selected="true">Data Science</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab"
                                data-bs-target="#marketing-tab-pane" type="button" role="tab"
                                aria-controls="marketing-tab-pane" aria-selected="false">Computer Science</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                                aria-labelledby="design-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/data-science/probability-and-statistics
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Probability And Statistics</h5><br>

                                                        <p class="mb-0">
                                                        <ul>
                                                            <li>Probability and statistics courses teach skills in understanding whether data is meaningful, including optimization, inference, testing, and other methods
                                                                for analyzing patterns in data and using them to predict, understand, and improve results.</li>
                                                        </ul>

                                                        </p>
                                                    </div>
                                                    <style>
                                                        ul {
                                                            list-style-type: disc;
                                                            /* Default bullet style */
                                                            padding-left: 20px;
                                                            /* Indentation for the list */
                                                        }

                                                        li {
                                                            margin: 5px 0;
                                                            /* Spacing between items */
                                                            font-family: 'Poppins', sans-serif;
                                                            /* Example font, change as needed */
                                                        }
                                                    </style>

                                                    </style>

                                                    <span class="badge bg-design rounded-pill ms-auto">1</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/undraw_Remote_design_team_re_urdx.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/data-science/machine-learning
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Machine Learning</h5><br>

                                                        <p class="mb-0" style="text-align: justify;">
                                                        <ul>
                                                            <li>Machine learning courses focus on creating systems to utilize and learn from large sets of data.</li>
                                                            <li> Topics of study include predictive algorithms, natural
                                                                language processing, and statistical pattern recognition.</li>
                                                        </ul>


                                                        </p>
                                                    </div>

                                                    <span class="badge bg-design rounded-pill ms-auto">2</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/undraw_Redesign_feedback_re_jvm0.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/data-science/data-analysis
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Data Analysis</h5><br>

                                                        <p class="mb-0" style="text-align: justify;">
                                                        <ul>
                                                            <li>Data analysis courses address methods for managing and analyzing large datasets.</li>
                                                            <li> Start your career as a data scientist by studying data mining, big data
                                                                applications, and data product development.</li>
                                                        </ul>
                                                    </div>

                                                    <span class="badge bg-design rounded-pill ms-auto">3</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/colleagues-working-cozy-office-medium-shot.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div><br>
                                    </div>
                                </div><br>
                                <button class="browse-button" style="left: 600px;">
                                    <a href="/course">
                                        <p>Browse More</p>
                                    </a>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14 5l7 7m0 0l-7 7m7-7H3">
                                        </path>
                                    </svg>
                                </button>
                            </div><br>

                            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel"
                                aria-labelledby="marketing-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/computer-science/software-development
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Software Development</h5><br>

                                                        <p class="mb-0" style="text-align: justify;">
                                                        <ul>
                                                            <li>Specializations and courses in software development address the process of creating software, including development tools and methodologies (such as
                                                                Agile development), programming languages (including Python, C, Java, and Scala), and software architecture and testing.</li>
                                                            
                                                        </ul>
                                                        </p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">1</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/undraw_online_ad_re_ol62.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/computer-science/computer-security-and-networks
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Computer Security And Networks</h5><br>

                                                        <p class="mb-0" style="text-align: justify;">
                                                        <ul>
                                                            <li>Computer security and networks courses address the foundations of creating modern, secure software and hardware. </li>
                                                            <li>Subtopics include network
                                                                security, cybersecurity, risk management, and cryptography.</li>
                                                        </ul>
                                                        </p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">2</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/undraw_viral_tweet_gndb.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href=https://www.coursera.org/browse/computer-science/design-and-product
                                                target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Design and Product</h5><br>

                                                        <p class="mb-0" style="text-align: justify;">
                                                        <ul>
                                                            <li>Design and product courses teach you to bring a software product to life.</li>
                                                            <li>Major areas of study include product definition and design, subtopics include UX design, web design, human-computer interaction, and design thinking.</li>
                                                        </ul>
                                                        </p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">3</span>
                                                </div>

                                                <img src="{{ url_for('static', filename = 'images/topics/undraw_viral_tweet_gndb.png')}}"
                                                    class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div><br>
                                        <button class="browse-button" style="left: -310px;">
                                            <a href="/job">
                                                <p>Browse More</p>
                                            </a>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" 
                                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="4">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M14 5l7 7m0 0l-7 7m7-7H3">
                                                </path>
                                            </svg>
                                        </button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </section>
                            
                                        


        <section class="timeline-section section-padding" id="section_3">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">How does it work?</h1>
                    </div>

                    <div class="col-lg-10 col-12 mx-auto">
                        <div class="timeline-container">
                            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                <li>
                                    <a href="">
                                        <h4 class="text-white mb-3">Enter your details</h4>
                                    </a>

                                    <p class="text-white">We are committed to helping you achieve your career goals by
                                        providing personalized guidance based on your unique academic strengths and
                                        interests. To ensure we offer the most relevant and effective support please
                                        enter your details.
                                    </p>

                                    <a href="">
                                        <div class="icon-holder">
                                            <i class="bi-search"></i>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <h4 class="text-white mb-3">Analyse your performance</h4>
                                    </a>

                                    <p class="text-white">By analyzing your career interests and industry preferences,
                                        we can provide insights into job market trends, potential employers, and career
                                        opportunities in those fields. By leveraging these insights, we aim to help you
                                        make informed decisions about your education and career, ultimately guiding you
                                        toward a fulfilling and successful professional life.</p>

                                    <a href="">
                                        <div class="icon-holder">
                                            <a href=""><i class="bi-bookmark"></i></a>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <h4 class="text-white mb-3">Discover &amp; Succeed</h4>
                                    </a>

                                    <p class="text-white">Embrace the opportunity to explore and excel in your chosen
                                        field. With our expert guidance, you’ll be better prepared to make informed
                                        decisions, set achievable goals, and take proactive steps towards a successful
                                        and fulfilling career.</p>

                                    <a href="">
                                        <div class="icon-holder">
                                            <a href=""><i class="bi-book"></i></a>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="faq-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4">Frequently Asked Questions</h2>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-5 col-12">
                        <img src="{{ url_for('static', filename = 'images/faq_graphic.jpg')}}" class="img-fluid"
                            alt="FAQs">
                    </div>

                    <div class="col-lg-6 col-12 m-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Who Are We?
                                    </button>
                                </h2>

                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="text-align: justify;">
                                        Career is a web platform that helps students analyze their academic performance
                                        and discover suitable career paths. By offering personalized recommendations and
                                        insights into market trends, it empowers students to make informed decisions
                                        about their future careers, all through an interactive and user-friendly
                                        interface.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What do we do?
                                    </button>
                                </h2>

                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="text-align: justify;">
                                        We leverage advanced data analysis techniques to evaluate students' performance
                                        and preferences. Our platform provides personalized insights that guide students
                                        toward the most compatible career paths. By considering individual strengths and
                                        market trends, we ensure students are well-informed about their options.
                                        Ultimately, our goal is to empower students to achieve their career aspirations
                                        with confidence.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Is my data safe with Career?
                                    </button>
                                </h2>

                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes, we prioritize your privacy and security. Your data is stored securely and
                                        used solely for analysis to help you find suitable career paths.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="contact-section section-padding section-bg" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-5">Get in touch</h2>
                    </div>

                    <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                        <iframe class="google-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.586046046185!2d73.50730709999999!3d18.4116818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc29f3cf04ba56f%3A0xf7d9bdab2c80763c!2sCHRIST%20(Deemed%20to%20be%20University)%2C%20Pune%20Lavasa%20Campus%20-%20&#39;The%20Hub%20of%20Analytics&#39;!5e0!3m2!1sen!2sin!4v1724130134801!5m2!1sen!2sin"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                        <h4 class="mb-3">Head office</h4>

                        <p>30, Valor Ct, Lavasa, Maharashtra 412112</p>

                        <hr>

                        <p class="d-flex align-items-center mb-1">
                            <span class="me-2">Phone</span>

                            <a href="tel: 305-240-9671" class="site-footer-link">
                                305-240-9671
                            </a>
                        </p>

                        <p class="d-flex align-items-center">
                            <span class="me-2">Email</span>

                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mx-auto">
                        <h4 class="mb-3">Germany office</h4>

                        <p>Taunustor 1, 60310 Frankfurt am Main, Germany</p>

                        <hr>

                        <p class="d-flex align-items-center mb-1">
                            <span class="me-2">Phone</span>

                            <a href="tel: 110-220-3400" class="site-footer-link">
                                110-220-3400
                            </a>
                        </p>

                        <p class="d-flex align-items-center">
                            <span class="me-2">Email</span>

                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding"
                style="border-bottom-width: 0px; padding-top: 50px; padding-bottom: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-12 mb-4 pb-2">
                            <a class="navbar-brand" href="/">
                                <image src="{{ url_for('static', filename = 'images/image-removebg-preview (2).png')}}"
                                    alt="Logo" class="logo"></image>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <h6 class="site-footer-title mb-3">Resources</h6>

                            <ul class="site-footer-links">
                                <li class="site-footer-link-item">
                                    <a href='/index' class="site-footer-link">Home</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/course" class="site-footer-link">Courses</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/job" class="site-footer-link">Jobs</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/details" class="site-footer-link">Academic Details</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="/contact" class="site-footer-link">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                            <h6 class="site-footer-title mb-3">Information</h6>

                            <p class="text-white d-flex mb-1">
                                <a href="tel: 305-240-9671" class="site-footer-link">
                                    305-240-9671
                                </a>
                            </p>

                            <p class="text-white d-flex">
                                <a href="mailto:info@company.com" class="site-footer-link">
                                    career@company.com
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                            <h6 class="site-footer-title mb-3">Copyrights</h6>
                            <p class="copy">Copyright © 2048 Career.<br>All rights reserved </p>

                        </div>
                    </div>
                </div>
        </footer>



    <!-- JAVASCRIPT FILES -->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.sticky.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/click-scroll.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.js')}}"></script>

</body>

</html>